<template>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <div class="panel panel-primary">
                <div class="panel-heading">Add Blog</div>
                <div class="panel-body">
                    <form @submit.prevent="add">
                        <div class="form-group">
                            <label >Title:</label>
                            <input type="text" class="form-control" id="title" name="title" v-model="title" v-validate="'required'">
                            <span v-show="errors.has('title')" class="help is-danger">{{ errors.first('title') }}</span>
                        </div>
                        <div class="form-group">
                            <label>Detail:</label>
                            <textarea class="form-control" name="detail" rows="3" id="detail" v-model="detail" v-validate="'required'"></textarea>
                            <span v-show="errors.has('detail')" class="help is-danger">{{ errors.first('detail') }}</span>
                        </div>
                        <button type="submit" value="add"  class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>


        </div>
        <div class="col-md-3"></div>
    </div>

</template>
<script>
    import Auth from '../../utility/Auth.js';
    import Blog from '../../utility/Blog.js';

    export default{
        data(){
            return{
                title : '',
                detail : '',
                author_id :''
            }
        },
        methods:{
            add(){
                var user = Auth.getAuthanticatedUser();
                var data_post = {
                    title : this.title,
                    detail : this.detail,
                    author_id : user.id
                }

                this.$validator.validateAll().then(function (result) {

                    if(result){

                        Blog.store(Auth.getToken(),data_post).then(function (responce) {
                            if(responce.status == 200){
                                swal("You blog is save.");
                                window.location.replace('/#/blogs');
                            }

                            if(responce.message == 'unauthorise'){
                                swal("Smoething went wrong.");
                                window.location.reload();
                            }

                        });

                    }

                });

            }
        }
    }
</script>
<style>
    #detail{
        height: 200px;
    }
</style>