<template>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-8">

            <h4><small>Blog </small></h4>
            <hr>
            <h2>  {{ blog.title }} </h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by {{ blog.author.name }}, {{ postedOn(blog) }}</h5>
            <!--<h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>-->
            <p>{{ blog.detail }}</p>
            <br><br>
        </div>
        <div class="col-md-2"></div>

        <div class="clearfix"></div>

        <hr>

        <div class="row">
            <p> Comments:</p><br>

            <div class="col-md-8 col-md-offset-2" v-for="com in comments">
                <h4>{{ com.user.name }} <small>{{ commentOn(com) }}</small></h4>
                <p>{{ com.message }}</p>
                <br>
            </div>
            <div class="col-md-2"></div>

        </div>

        <hr>

        <div class="row" :if="isAuth">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h4>Leave a Comment:</h4>
                <div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" v-model="message" ></textarea>
                    </div>
                    <button type="button" @click="commentAdd" class="btn btn-success">Submit</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br><br>

    </div>

</template>
<script>

    import Auth from '../../utility/Auth.js';
    import Blog from '../../utility/Blog.js';
    import Comment from '../../utility/Comment';
    import moment from 'moment';

    export default {
        data(){
            return{
                blog : {
                    title : '',
                    detail:'',
                    author : {
                        name : '',
                        created_at: "00"
                    }
                },
                id : 0,
                comments :[],
                isAuth : false,
                message : '',
                user : []
            }
        },
        created() {
            this.id = this.$route.params.id;

            this.isAuth = Auth.isAuthanticated();

            Blog.show(Auth.getToken(),this.id).then(function (responce) {
                this.blog = responce.data;
            }.bind(this));

            Comment.get(this.id).then(function(responce){
                if(responce.status == 200){
                    this.comments = responce.data;
                }

            }.bind(this));

            this.user = Auth.getAuthanticatedUser();
        },
        methods: {
            postedOn(blog){
                return moment(blog.created_at).fromNow();
            },
            commentOn(com){
                return moment(com.created_at).fromNow();
            },
            commentAdd(){
                var post_data = {
                    message : this.message,
                    blog_id : this.id,
                    created_at : moment().format(),
                    user : {
                        name : this.user.name
                    }
                }
                Comment.store(Auth.getToken(),post_data).then(function (responce) {
                    swal("Thank you for comment!");
                    this.comments.push(post_data);
                    this.message = '';
                }.bind(this))
            }
        }
    }
</script>