<template>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-8">

            <h4><small>Blog POSTS</small></h4>
            <hr>
            <div v-for="blog in blogs">
                <h2> <router-link :to="{name: 'blog', params: {id: blog.id ,slug : blog.slug }}" > <a> {{ blog.title }} </a> </router-link></h2>
                <h5><span class="glyphicon glyphicon-time"></span> Post by {{ blog.author.name }}, {{ postedOn(blog) }}</h5>
                <!--<h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>-->
                <p>{{ blog.detail }}</p>
                <br><br>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>


</template>
<script>

    import Auth from '../utility/Auth.js';
    import Blog from '../utility/Blog.js';
    import moment from 'moment';

    export default{
        data(){
            return{
                blogs : []
            }
        },
        created(){
            Blog.gets().then(function (responce) {
                console.log(responce);
                this.blogs = responce.data;
            }.bind(this))
        },
        methods:{
            postedOn(blog){
                return moment(blog.created_at).fromNow();
            }
        }
    }
</script>