<template>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:;">Blog Site</a>
            </div>
            <ul class="nav navbar-nav">
                <router-link to="/" tag="li" exact> <a>Home</a>  </router-link>
                <router-link to="/all-blogs" tag="li" exact> <a>Blogs</a>  </router-link>
                <!--<li class="active"><a href="#">Home</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <router-link to="/sign-up" tag="li" exact v-if=" ! isAuth"> <a><span class="glyphicon glyphicon-user"></span> Sign Up</a>  </router-link>
                <router-link to="/login" tag="li" exact v-if=" ! isAuth"> <a><span class="glyphicon glyphicon-log-in"></span> Login</a>  </router-link>

                <li class="dropdown" v-if="isAuth">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">Hi, {{ username }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <router-link to="/blogs" tag="li"> <a> My Blogs</a>  </router-link>
                        <router-link to="/blog/add" tag="li"> <a>Add Blog</a>  </router-link>
                        <router-link to="/logout" tag="li"> <a>Logout</a>  </router-link>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>

</template>

<script>
    import Auth from '../../utility/Auth.js';
    import User from '../../utility/User.js';
    
    export default{
        data() {
            return{
                isAuth : null,
                username : 'abc'
            }
        },
        created() {
            this.isAuth = Auth.isAuthanticated();


            if(this.isAuth){

                User.get(Auth.getToken()).then(function (responce) {
                    this.username = responce.data.name;
                    Auth.setAuthanticatedUser(responce.data);
                }.bind(this));

            }

        },
        methods:{

        }
    }
</script>