<template>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">

                <form @submit.prevent="login">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" name="email" class="form-control" id="email" v-model="email" v-validate="'required|email'">
                        <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" name="password" class="form-control" id="pwd" v-model="password" v-validate="'required'">
                        <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
                    </div>
                    <button type="submit" value="login" class="btn btn-info">Login</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>


</div>
</template>
<script>
    import User from '../../utility/User.js'
    import Auth from '../../utility/Auth.js'

    export default{
        data(){
            return{
                email : '',
                password : ''
            }
        },
        methods : {
            login(){

                var data_post = {
                    username : this.email,
                    password : this.password
                }

                this.$validator.validateAll().then(function (result) {

                    if(result){

                        User.login(data_post).then(function (responce) {

                                if(responce.status == 200){
                                    Auth.setToken(responce.data.access_token,responce.data.expires_in + Date.now());
                                    window.location.reload();
                                }

                                if(responce.error == 'invalid_credentials'){
                                    swal("Error!", "Unathorize user!", "error");
                                }

                            }
                        );

                    }
                });

            }
        }
    }
</script>