<template>
<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="panel panel-primary">
            <div class="panel-heading">Sign Up</div>
            <div class="panel-body">

                <form @submit.prevent="register">
                    <div class="form-group">
                        <label for="name">Username:</label>
                        <input type="text" class="form-control" id="name" name="name" v-model="name" v-validate="'required'">
                        <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" name="email" class="form-control" id="email" v-model="email" v-validate="'required|email'">
                        <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" name="password" class="form-control" id="pwd" v-model="password" v-validate="'required'">
                        <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
                    </div>
                    <button type="submit" value="register" class="btn btn-success">Sign Up</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
</template>
<script>
    import User from '../../utility/User.js'
    export default{
        data(){
            return{
                name : '',
                email : '',
                password : ''
            }
        },
        created(){

        },
        methods :{
            register(){

                var data = {
                    name : this.name,
                    email : this.email,
                    password : this.password
                }

                this.$validator.validateAll().then(function (result) {
                    if(result){
                        User.register(data).then(function (data) {
                                console.log(data);
                                if(data.status == 200){

                                    swal("You are register plz try to login.");
                                    window.location.replace('/#/login');

                                }
                            }
                        );
                    }

                });

            }
        }
    }
</script>